<div class="col-xs-1 ml-5 center-block" >
  
    <mat-paginator 
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChanged($event)">
    </mat-paginator>
  
    <div class="row ml-4">
      <mat-card class="animal-card mr-5 mb-4" *ngFor="let item of animals" >
        <mat-card-header>
          <mat-card-title>{{item.name}} - {{item.age}} ano(s)
            <div class="badge badge-{{item.status === 'LOST' ? 'danger' : 'info'}}">{{item.status === 'LOST' ? 'Perdido' : 'Comunicado'}}</div>
          </mat-card-title>
          <mat-card-subtitle>
            
            {{item.city}} - {{item.state}}
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{item.image}}" height="400">
        <mat-card-content >
          <p><b>Informações adicionais:</b></p>
          <p>
            {{item.extraInfo}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-info" (click)="openReportDialog(item.id)">Encontrei!</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>