
<div>
    <mat-form-field class="example-full-width mr-3">
        <input matInput placeholder="E-mail" value="" [(ngModel)]="login.username">
    </mat-form-field>

    <mat-form-field class="example-full-width mr-3">
        <input matInput placeholder="Senha" type="password" value="" [(ngModel)]="login.password">
    </mat-form-field>
    <button mat-raised-button color="primary" class="mr-3" (click)="authenticate()">Login</button>
    <button mat-raised-button color="default" (click)="openRegisterDialog()">Se registrar</button>
</div>
